.greeting{
	text-align: center;
	font-size: 3em;
}
#q14{
	display: inline-block;
	width: 10%;
	font-size: 0.8em;
}
#q1, 
#q12,
#q13
{	
	display: inline-block;
	width: auto;
	font-size: 0.8em;
	min-width: 18%;
}