.greeting {
    text-align: center;
    font-size: 2em;
}

#q14 {
    display: inline-block;
    width: 10%;
    font-size: 0.8em;
}

#q1,
#q12,
#q13 {
    display: inline-block;
    width: auto;
    font-size: 0.8em;
    min-width: 18%;
}

#q8,
#q81 {
    display: inline-block;
    width: auto;
    font-size: 0.8em;
    min-width: 25%;
}

#q21,
#q2 {
    display: inline-block;
    width: auto;
    font-size: 0.7em;
    min-width: 27%;
}

#q3,
#q4,
#q6 {
    width: auto;
    font-size: 0.7em;
    min-width: 80%;
    color: #404040;
}

#q5 {
    display: inline-block;
    width: auto;
    font-size: 0.7em;
    min-width: 60%;
}

#q5label {
    font-size: 0.7em;
    min-width: 60%;
}

#q16 {
    display: none;
    width: auto;
    font-size: 0.8em;
    min-width: 18%;
}

#fs-form-wrap {
    display: none;
}

.q2 {
    display: inline-block !important;
    width: 27% !important;
    font-size: 0.7em !important;
    min-width: 21%;
}

.q2label {
    font-size: 0.7em;
}

#talkwhy {
    display: none;
    position: absolute;
    top: 150%;
    font-size: 0.7em;
}

#gucian {
    display: none;
    position: absolute;
    top: 130%;
}

#fieldb {
    display: inline-block;
    font-size: 0.5em;
}

#fieldb:hover:after {
    content: '\2716';
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#arrowWeightDiv,
#barBallDiv,
#weightsvg2,
#pivotsvg {
    display: none;
}

textarea {
    width: 200px;
    resize: none;
    overflow: hidden;
    font-size: 18px;
    height: 1.1em;
    padding: 2px;
}
/*.greeting{
    position: absolute; 
    top: 50%;
}*/
